.progress {
    animation:fill-bar 1s;
    animation-timeline: scroll();;
    background-image:linear-gradient(
    45deg, 
    var(--color-international-orange-400) 0%, 
    var(--color-international-orange-600) 50%, 
    var(--color-international-orange-800) 100%
  );
    border-radius: 0 13rem 13rem 0;
    display: block;
    height:4px;
    left:0;
    position:fixed;
    top:0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s linear transform;
    width: 100%;
    z-index: 99999;
}

@keyframes fill-bar {
    0% { background-position: 200% 0; }
    to {
        background-position: -200% 0; 
        transform: scaleX(1);
    }
}